@page "/"
<! -- Использование директивы для указания маршрута, по которому доступна страница -->

<h1>Привет, мир!</h1>
<p>Это главная страница приложения.</p>
<a href="/about">О приложении</a>
<a href="/contact">Контакты</a>
